<app-adminnavbar></app-adminnavbar>
<div class="adjectmargin">
  <div class="action">
    <button (click)="add()" type="button" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#addProduct">Add New Product <i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="myTable">
    <thead>
      <tr>
        <th>SN</th>
        <th>Product Name</th>
        <th>Product Type</th>
        <th>Created On</th>
        <th>Approved</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngIf="requestData.length === 0">
        <td colspan="7" class="text-center">No data available</td>
      </tr> -->
      <tr *ngFor="let data of requestData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{data.ProductName}}</td>
        <td>{{data.ProductType}}</td>
        <td>{{ data.CreatedDate.split('T')[0] }}</td>
        <td>
          <p *ngIf="data.IsApproved == 0">Not Approved</p>
          <p *ngIf="data.IsApproved == 1"> Approved  <i class="fa-solid fa-check"></i></p>
        </td>
        <td>
          <button class="btn btn-primary" (click)="btnedit(data)" data-bs-toggle="modal" data-bs-target="#addProduct"><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn btn-danger ms-2" (click)="delete(data.ProductId)"><i class="fa-solid fa-trash"></i></button>
        </td>

      </tr>

    </tbody>

  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
  <form (ngSubmit)="submit()" [formGroup]="productForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{formtitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <div class="form-group" [ngClass]="{ error: submitted && f['productName'].errors }">
              <div class="form-wrapper">
                <label class="form-label">Product Name</label>
                <input type="text" formControlName="productName" placeholder="Product Name" autocomplete="off"
                  class="form-control" />
              </div>
              <div *ngIf="submitted && f['productName'].errors" class="form-text">
                <div *ngIf="f['productName'].errors['required']">
                  <span class="text-danger">Product Name is required</span>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group" [ngClass]="{ error: submitted && f['productType'].errors }">
              <div class="form-wrapper">
                <label class="form-label">Product Type</label>
                <input type="text" formControlName="productType" placeholder="Product Type" autocomplete="off"
                  class="form-control" />
              </div>
              <div *ngIf="submitted && f['productType'].errors" class="form-text">
                <div *ngIf="f['productType'].errors['required']">
                  <span class="text-danger">Product Type is required</span>
                </div>
              </div>
            </div>
          </div>


          <div class="mb-3">
            <div class="form-group" [ngClass]="{ error: submitted && f['productType'].errors }">
              <div class="form-wrapper">
                <label class="form-label me-2">Product Image</label>
                <input type="file" id="file" formControlName="imageUrl" placeholder="FIle.." />
              </div>
              <div *ngIf="submitted && f['productType'].errors" class="form-text">
                <div *ngIf="f['productType'].errors['required']">
                  <span class="text-danger">Product Type is required</span>
                </div>
              </div>
            </div>
          </div>

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">{{submitBtn}}</button>
        </div>
      </div>
    </div>
  </form>
</div>

