<html>

<head>
    <title>

    </title>
</head>

<body>
    <app-adminnavbar></app-adminnavbar>
    <main class="main-content">
    <div class="page-content">

        <h1 class="page-title">Dashboard</h1>
        <div class="dash-specs">
            <div class="row">
                <div class="col-lg-3">
                    <div class="dash-specs__card card">
                        <div class="dash-specs__card-icon">
                            <i class="fa-solid fa-person"></i>
                        </div>
                        <h3 class="dash-specs__card-num">1250+</h3>
                        <p class="dash-specs__card-text">Active Users</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dash-specs__card card">
                        <div class="dash-specs__card-icon purple">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <h3 class="dash-specs__card-num">2000+</h3>
                        <p class="dash-specs__card-text">Total Post Tag</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dash-specs__card card">
                        <div class="dash-specs__card-icon yellow">
                            <i class="fa-solid fa-building"></i>
                        </div>
                        <h3 class="dash-specs__card-num">650+</h3>
                        <p class="dash-specs__card-text">Active Partner Company</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dash-specs__card card">
                        <div class="dash-specs__card-icon green">
                            <i class="fa-solid fa-people-arrows"></i>
                        </div>
                        <h3 class="dash-specs__card-num">1250+</h3>
                        <p class="dash-specs__card-text">Active Counselors</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>
</body>

</html>