.adjectmargin{
    margin-top: 10%;
    margin-left: 20%;
    padding: 20px;
}
tr{
    border: 1px solid #beabab;
}
td{
    border-right: 1px solid #beabab;
}
thead{
    background-color: #4120ec;
    text-decoration-color: white;

}
thead tr th{
    color: white;
}