<body class="background-theme-grey">
    
    <app-navbar></app-navbar>
<!-- Other content of the dashboard -->

    <main class="site-wrapper" id="site-wrapper">
        
<section class="hero relative overflow-hidden">
    <div class="shapes">
        <div class="shape">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="shape">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="container">
        <div class="hero__inner">
            <div class="hero__row">
                <div class="hero__media">
                    <img src="assets/images/earn-bg.png" srcset="" alt="" height="500px" class="w-full h-full object-contain" style="height: 500px;">
                </div>
                <div class="hero__text">
                    <h2 class="hero-title">
                        "BuyTag(#)Earn - where can earn moneny like you earn likes in instagram."
                    </h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates ducimus quidem laborum at consectetur voluptatum inventore voluptas cumque error, nisi illo non vitae eaque voluptatem delectus in, magnam quas aspernatur.
                    </p>
                    <div class="btn-wrap">
                        <a *ngIf="!authService.isLoggedIn()" routerLink="/register" class="btn btn--lg">Register Now</a>
                        <a *ngIf="authService.isLoggedIn()" routerLink="/dashboard" class="btn btn--lg">Dashboard</a>
                        <a href="#" class="btn btn--lg btn--outlined">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
</body>