<!--Section Header-->
<header id="header" class="header">
  <div class="container-fluid">
    <div class="header__inner">
      <button class="menu-toggle">
        <img src="assets/icons/menu_outlined.svg" alt="">
      </button>
      <div class="logo app-md">
        <a routerLink="/">
          <img src="assets/images/BTElogobg.png" alt="" />
        </a>
      </div>
      <div class="user-dropdown">
        <div class="btn-group" (click)="toggleDropdown()">
          <a class="nav-link dropdown-toggle text-nowrap px-3" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="user-avatar rounded-circle mr-2" [src]="userAvatar" alt="User Avatar" />
            &nbsp;
            <span class="d-none d-md-inline-block">{{ userName || 'Guest' }}</span>
          </a>

          <!-- Dropdown Menu -->
          <ul class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
            <li>
              <a routerLink="/changePassword" class="dropdown-item" >
                <i class="fa-solid fa-pencil"></i> Change Password
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item text-danger" (click)="onLogout()">
                <i class="fa-solid fa-right-from-bracket text-danger"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</header>


<div class="side-menu sidebar" id="sidebar">
  <button class="sidebar-exit">
    <i class="fa-solid fa-xmark"></i>
  </button>

  <nav class="sidebar__inner">
    <!-- Main Menu -->
    <div class="side-menu-container">
      <!-- Brand -->
      <div class="brand-name-wrapper">
        <a class="logo" routerLink="/">
          <img src="assets/images/BTElogobg.png" alt="" />
        </a>
      </div>
      <div class="nav">
        <span class="menu-label nav-title">Menu</span>
        <ul class="navbar-nav nav__list">

          <li class=" nav__list-item">
            <a routerLink="/dashboard">
              <i class="fa-solid fa-house"></i>
              <span class="nav__list-text ms-2">Dashboard</span>
            </a>
          </li>
          <li class=" nav__list-item" *ngIf="userRole == 'USER'">
            <a routerLink="/main-form">
              <i class="fa-solid fa-square-plus"></i>
              <span class="nav__list-text ms-2">Add New Post</span>
            </a>
          </li>
          <li class=" nav__list-item" *ngIf="userRole == 'USER'">
            <a routerLink="/mypost">
              <i class="fa-solid fa-address-book"></i>
              <span class="nav__list-text ms-2">My Post</span>
            </a>
          </li>
          <li class=" nav__list-item" *ngIf="userRole == 'USER'">
            <a routerLink="/user-earn">
              <i class="fa-solid fa-money-bill-wave"></i>
              <span class="nav__list-text ms-2">Payment History</span>
            </a>
          </li>

          <li class=" nav__list-item" *ngIf="userRole == 'ADMIN'">
            <a routerLink="/brand">
              <i class="fa fa-plus-circle"></i>
              <span class="nav__list-text ms-2">Add Brand</span>
            </a>
          </li>

          <li class=" nav__list-item" *ngIf="userRole == 'ADMIN'">
            <a routerLink="/brandProduct">
              <i class="fa-solid fa-store"></i>
              <span class="nav__list-text ms-2">Products</span>
            </a>
          </li>


          <li class=" nav__list-item" *ngIf="userRole == 'ADMIN' || userRole == 'BRAND'">
            <a routerLink="/allpost">
              <i class="fa-regular fa-address-card"></i>
              <span class="nav__list-text ms-2">User Posts</span>
            </a>
          </li>

          <li class=" nav__list-item" *ngIf="userRole == 'BRAND'">
            <a routerLink="/userPaymentRequest">
              <i class="fa-solid fa-credit-card"></i>
              <span class="nav__list-text ms-2">Payment Request</span>
            </a>
          </li>

          <li class=" nav__list-item" *ngIf="userRole == 'BRAND'">
            <a routerLink="/product">
              <i class="fa-solid fa-store"></i>
              <span class="nav__list-text ms-2">Product</span>
            </a>
          </li>



          <li class="nav__list-item nav__list-item--logout">
            <a (click)="onLogout()" class="nav__list-link">
              <div class="nav__list-icon">
                <span class="material-icons-outlined">
                  <i class="fa-solid fa-right-from-bracket"></i>
                </span>
              </div>
              <p class="nav__list-text">Logout</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
