<app-adminnavbar></app-adminnavbar>
<div class="adjectmargin">

  <h1 class="modal-title fs-5">Change Your Password</h1>
  <form (ngSubmit)="submit()" [formGroup]="changePasswordFrom" class="mt-4 pe-5">
    <div class="mb-3">
      <div class="form-group" [ngClass]="{ error: submitted && f['oldPassword'].errors }">
        <div class="form-wrapper">
          <label class="form-label">Old Password</label>
          <input type="password" formControlName="oldPassword" placeholder="Enter Your Old Password" autocomplete="off"
            class="form-control" />
        </div>
        <div *ngIf="submitted && f['oldPassword'].errors" class="form-text">
          <div *ngIf="f['oldPassword'].errors['required']">
            <span class="text-danger">Old Password is required</span>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="form-group" [ngClass]="{ error: submitted && f['newPassword'].errors }">
        <div class="form-wrapper">
          <label class="form-label">New Password</label>
          <input type="password" formControlName="newPassword" placeholder="Enter Your New Password" autocomplete="off"
            class="form-control" />
        </div>
        <div *ngIf="submitted && f['newPassword'].errors" class="form-text">
          <div *ngIf="f['newPassword'].errors['required']">
            <span class="text-danger">New Password is required</span>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>


  </form>
</div>
