<!-- Content-->
<app-adminnavbar></app-adminnavbar>
<div class="container">
    <!-- Title-->
    <!-- Card columns-->
    <div *ngIf="userPosts.length > 0; else noPosts" class="card-columns" style="margin-left: 161px; margin-top: 70px;">

        <!-- Card-->
        <!-- <div class="card text-white border-0"> -->
        <div *ngFor="let post of userPosts">


            <div class="card border-0 wtab" style="width: 103%;">
                <!-- <div class="card-body three"><small >View</small>

          <h5>Lorem ipsum dolor sit amet consectetur adipisi</h5> -->
                <div class="instagram-media mt-1"

                   
                    >
                    <img *ngIf="post.ImageData" [src]="'data:image/jpeg;base64,' + post.ImageData" alt="User post image" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); max-width:540px; min-width:312px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"/>
                    <a href={{post.PostUrl}}
                        style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                        target="_blank" class="ms-2">View this post on Instagram</a>
                </div>

                <div class="footer">
                    <div class="d-flex justify-content-between w-100">
                        <div>
                          <a [routerLink]="['/postDetails', post.UserPostId]"
                                class="dateit"> <i class="fa-regular fa-eye pr-1 ms-2"></i> View Post Details</a>

                            <!-- <a class="locit"><i class="fa fa-twitter pr-1"></i> Nepal</a> -->
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/C9hz38INm9G/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                <a href="https://www.instagram.com/p/C9hz38INm9G/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">View this post on Instagram</a>
              </blockquote> -->

        <!-- Card-->

        <!-- <div class="card border-0">
        <div class="position-relative">

        </div>
        <div class="card-body">
          <div class="mb-3"><a class="card-link text-primary read-more" href="javascript://">Read More</a></div>
          <h5 class="card-title">Card title</h5>
          <hr>
          <p class="card-text">Minim dolor in amet nulla laboris enim dolore consequat proident fugiat culpa eiusmod proiden.</p>
        </div>
        <div class="card-footer">
          <div class="media align-items-center">
            <div class="media-body"><a class="card-link text-uppercase" href="javascript://">Read More</a></div>
            <div class="footerright">
              <div class="tnlink3"><i class="fas fa-heart" aria-hidden="true"></i></div>
              <div class="tnlink3"><i class="fas fa-share-nodes" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>


      <div class="card bg-primary text-white text-center p-4 border-0 four">

      </div> -->

        <!-- Card-->

        <!-- Card-->
        <!-- Card-->

    </div>
    <ng-template #noPosts >
        <p class="footer" style="margin-left: 161px; margin-top: 70px;">No posts available.</p>
    </ng-template>
</div>
<!---->
<!-- Footer items-->
<!---->
<!-- Footer-->
<footer class="footer">
    <p>Copyright <a class="yo"
            href="https://www.instagram.com/p/C9hz38INm9G/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==">BuyTagEarn</a>
        | 2024 </p>
    <div class="footer-social">

        <a class="footer-social-link" href="https://instgarm.com" target="__blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a class="footer-social-link" href="https://facebook.com" target="__blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a class="footer-social-link" href="https://www.linkedin.com" target="__blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="footer-social-link" href="https://www.youtube.com" target="__blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </div>
</footer>
