
<div class="detailbody">
  <main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i>Back</a>
        </div>
        <h3>Post Details</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>{{postDetails.ProductName}}</h1>
            <p class="sub">{{postDetails.BrandName}}</p>
            <p class="price">Money You Earn: $210.00</p>
          </div>
          <div class="image">
            <img src="https://instagram.fktm14-1.fna.fbcdn.net/v/t51.29350-15/415983404_3677906892478251_7796881742620169002_n.jpg?stp=dst-jpg_e35_s1080x1080&_nc_ht=instagram.fktm14-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=yF4AejIoj8gQ7kNvgFJ1D1U&_nc_gid=c990891d4c1d4d439d2c4a354837fc2b&edm=ANTKIIoBAAAA&ccb=7-5&oh=00_AYDIHyIkKi9wiSSHNauE45ClazE0pvFKiqkiF7BF6u36xQ&oe=6723C4CD&_nc_sid=d885a2" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Product Type: {{postDetails.ProductType}}</p>
            <br>
            <p>Posted On:  {{postDetails.PostedOn}}</p>
            <br>
            <p>Total Number Of Likes:  {{postLikes}} </p>
            <br>
            <p>Total Number Of Likes:  {{postLikes}} </p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> Pending</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <!-- <span>(64 reviews)</span> -->
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Copyright</p>
          <h3>BuyTagEarn</h3>
        </div>
        <div class="action">
          <button type="button">Redemed Cash By Kahti</button>
        </div>
      </div>
    </div>
  </main>
</div>
