<div class="detailbody">
  <div class="mineLogo">
    <a routerLink="/">
      <img src="assets/images/BTElogobg.png" alt="" height="" />
    </a>
  </div>
  <div class="main">
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a routerLink="/mypost"><i class="fa fa-arrow-left"></i>Back</a>
        </div>
        <h3>Post Details</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>{{postDetails.ProductName}}</h1>
            <p class="sub">{{postDetails.BrandName}}</p>
            <p class="price">Money You Earn: RS. {{amount}}</p>
          </div>
          <div class="image">
            <img *ngIf="imageSrc" [src]="imageSrc" alt="User Post Image" />
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Product Type: {{postDetails.ProductType}}</p>
            <br>
            <p>Posted On: {{ formatDate(postDetails.PostedOn) }}</p>
            <br>
            <p>Total Number Of Likes: {{postLikes}} </p>
            <br>
            <p>Total Number Of Likes: {{postLikes}} </p>
          </div>
          <span *ngIf="!showAskPayment" class="stock"><i class="fa-solid fa-hourglass-half"></i> Pending</span>
          <span *ngIf="showAskPayment" class="stock"><i class="fa-regular fa-clock"></i> Completed</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <!-- <span>(64 reviews)</span> -->
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Copyright</p>
          <h3>BuyTagEarn</h3>
        </div>
        <div class="action">
          <button *ngIf="showAskPayment" type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Request Payment</button>
          <p *ngIf="!showAskPayment">Pending</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form (ngSubmit)="submit()" [formGroup]="paymentRequestForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Request For Payment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">

            <div class="form-group" [ngClass]="{ error: submitted && f['mobileNo'].errors }">
              <div class="form-wrapper">
                <label class="form-label">Mobile Number</label>
                <input type="text" formControlName="mobileNo" placeholder="Mobile No" autocomplete="off"
                  class="form-control" />
              </div>
              <div *ngIf="submitted && f['mobileNo'].errors" class="form-text">
                <div *ngIf="f['mobileNo'].errors['required']">
                  <span class="text-danger">Mobile Number is required</span>
                </div>
              </div>
            </div>
            <!-- <label class="form-label">Mobile Number</label>
            <input type="text" class="form-control"> -->
            <div class="form-text">Enter your mobile number that have register with khalti.</div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
